html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
ol, ul {
	list-style: none;
}
/* tables still need cellspacing="0" in the markup */
caption, th, td {
	font-weight: normal;
	text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* Universtal Style Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: solid 1px grey; */
    font-family: 'Roboto Mono', sans-serif;
}
/* General Styles */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4F4F4F;
}
h1 {
    font-size: 5rem;
    font-family: 'Chelsea Market', cursive;
}
h2 {
    font-size: 2rem;
}
section {
    padding: 4% 0;
}
a {
    text-decoration: none;
}
p {
    text-align: center;
}

/* Header Section Styles */
nav {
    padding: 3% 5%;
    font-size: 2rem;
    margin: auto;
    text-align: center;
}
nav a {
    display: inline-block;
    padding: 0.8% 0.8%;
    width: 18%;
    border-radius: 16px;
    text-align: center;
    color: white;
    margin: 0 5%;
    line-height: 1.2;
    text-transform: capitalize;
    transition: background-color 500ms;
}
nav a:hover {
    background-color: #4F4F4F;

}
.orange {
    background-color: #ff764e;
}
.blue {
    background-color: #5ED3EB;
}
.yellow {
    background-color: #ffcd69;
}

/* Top Section Styles */
.section-title {
    margin: 0 4%;
    text-align: center;
}
.title-left, .title-right {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.title-left {
    width: 35%;
}
.title-left img {
    width: 80%;
    border-radius: 50%;
}
.title-right {
    width: 60%;
    margin: auto;
}
.title-right h2 {
    padding: 1% 12%;
}

/* Middle Section Styles */
.info-box {
    background-color: #DDB9A3;
    color: white;
    margin: 0 4% 3% 4%;
    padding: 0;
}
.info-box p {
    font-size: 1.8rem;
    padding: 1.5%;
    line-height: 1.2;
}
.image-stack-small {
    padding: 0;
    margin: 1% 40%;
}
.image-small {
    padding: 0 20%;
}
.image-caption {
    font-size: 0.8em;
    padding-bottom: 15%;
}

/* Footer Section Styles */
.image-cover {
    background-image: url("/assets/footer_img.jpg");
    background-position: 50% 20%;
    background-size: cover;
    height: 25vh;
}
footer {
    background-color: #F9E7DC;
}